// @import url('https://fonts.googleapis.com/css?family=Alef:400,700|Nunito:300,400,700');

// @include font-face('futura', '/fonts/futuhv-webfont');

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	box-sizing: border-box;
	transition: all .2s ease-in-out;
}


html {
	height: 100%;
	scroll-behavior: smooth;
}

body, html {
	min-height: 100%;
	width: 100%;
}

.clear::after, .clear::before {
	content: " ";
	display: table;
}

.clear::after {
	clear: both;
}

body {
	background: url('../images/bg-mandala.png') no-repeat 17% 0%, $background;
	font: 300 16px/24px $nunito;
	line-height: normal;
}

.yoga-container {
	max-width: 950px;
	min-width: 1366px;
	margin: 0 auto;
}

.wrapper {
	padding-top: 150px;
}

.benefits {
	background: #FFF;
	height: 5em;
	// height: 143px;
	// width: 763px;
	
	// width: 840px;
	position: relative;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	&__title {
		font-size: 80px;
		font-family: $futura;
		line-height: 95px;
		font-weight: 700;
		text-transform: uppercase;
		background-color: #565656;	
		color: transparent;
		text-shadow: 0px 1px 3px rgba(223,189,181,1);
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		
	}

	&__title--pos {
		transform: translateX(160px) translateY(-48px);
		// position: absolute;
		// top: -52px;
		// left: 97px;
	}

	&__title--font-mod {
		font-size: 80px;
		width: 100%;
		transform: translateX(144px) translateY(-45px);
		
	}

	&__title--right-pos {
		transform: translateX(-105px) translateY(-45px);
	}
}

.benefits--height {
	height: 9em;
}

.benefits--mod {
	width: 55%;
}

.dectorator-container {
	padding-top: 190px;
	padding-bottom: 50px;
	position: relative;
	
	&:before {
		@include pos($t:0);
		width: 2px;
		height: 100px;
		content: '';
		background: $mainText;
		left: 50%;
	}
}

.benefits-wrapper {
	display: flex;
	justify-content: flex-end;
}

iframe {
	display: block;
}