//colors
$background: #f2e6e3;
$add: #dfbdb5;
$button: #E76B50;
$mainText: #373737;
$red: #9F0C0C;

//fonts
$nunito: 'Nunito', sans-serif;
$alef: 'Alef', sans-serif;
$futura: 'futura', sans-serif;